<div class="panel panel-info">
    <div class="panel-heading"><strong>מפרט</strong></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-6 col-sm-6">
                    <label for="specification_building">מפרט הבניין:</label>
                    <textarea name="specification_building" class="form-control" id="specification_building" rows="6" cols="1" placeholder="מפרט הבניין" wrap="hard"></textarea>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                    <label for="specification_apartment">מפרט הדירה:</label>
                    <textarea name="specification_apartment" class="form-control" id="specification_apartment" rows="6" placeholder="מפרט הדירה" ></textarea>
                </div>
            </div>
        </div>
    </div>
</div>