<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#">גורו</a>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-map-marker"/> פרויקטים
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">חדש</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="#">חיפוש</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"/> USER NAME
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">פרופיל</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="#">התנתק</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>